@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;900&family=Roboto:wght@300;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: #d6cfcf;
  font-family: "Encode Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  border-bottom: 1px solid #c6c6c6;
}
.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.user-info {
  background-color: whitesmoke;
}
.user-info .header {
  display: flex;
  justify-content: start;
  padding: 30px;
}
.name {
  font-weight: 900;
}
.location {
  font-weight: 300;
}
.user-details {
  padding-left: 50px;
}
.header {
  display: flex;
}
.user-info .img {
  width: 100%;
}
.user-info .avatar {
  width: 100px;
}
.icons {
  display: flex;
  width: 100%;
}
.heart,
.comment,
.dm {
  padding: 20px;
  width: 50px;
  margin-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.heart:hover,
.heart:active,
.heart:focus,
.comment:focus,
.comment:hover,
.dm:hover,
.comment:active,
.dm:focus,
.dm:active {
  opacity: 50%;
}

.count {
  margin-right: 10px;
}
.likes,
.user-comment {
  display: flex;
  margin-top: 10px;
  padding-left: 40px;
}
.actual-comment {
  font-weight: 300;
}
.card {
  padding: 2rem;
  transition: 0.4s ease-in;
  margin-top: 100px;
}
.username {
  padding-right: 20px;
}
